.cork-board {
    background-color: white;
    margin: 26px 5% 0;
}

.events-group h1 {
    margin: 5px 0 5px 0;
    text-align: center;
}

.events-group .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    background-color: var(--color-heavy);
    border-radius: 5px;
    margin: 3px 3px 0 3px;
}